/* ---Variables---*/
:root {
    --bg-color: linear-gradient(0deg ,#CD0B16, #CDD5D8
    );
    --first-color: #181E20;
    --color-active: #02314D;
    --border-color: #045C94;

    --title-font-sizee: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: var(--bg-color);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 300px;
    width: 100%;
}

.content-title{
    font-size: var(--title-font-sizee);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 2rem;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}

.grid-item {
    text-align: center;
    font-weight: bold;
    padding: 1.5rem 0;
    background-color: var(--first-color);
    color: #CD0B16;
    cursor: pointer;
}

.grid-item.active {
    background-color: #fc5961;
    color: var(--first-color);
    
}

.content-composition {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-composition{
    padding: .5rem 1rem;
    background: none;
    border-radius: .25rem;
    outline: none;
    border: 2px solid var(--first-color);
    background-color: var(--first-color);
    color: #eee;
    font-weight: bold;
}

.input-composition::placeholder {
    color: #fff;
    font-size: 1rem;
    font-style: italic;
}

.btn-composition {
    padding: .5rem 1rem;
    background: var(--bg-color);
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    box-shadow: 3px 3px 10px 0px #181E20;
    font-size: 1rem;
    color: #080D13;
    transition: all ease .3s;
}

.btn-composition:hover {
    box-shadow: none;
}

